.footer {
	padding: 20px 0;
	background-color: #000;

	font-size: 14px;
	line-height: 1;
	color: rgba(255, 255, 255, 0.5);

	@include mobile {
		font-size: 12px;
	}
	
	a {
		color: rgba(255, 255, 255, 0.75);
	}
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;
	
	row-gap: 10px;
}
